<?xml version="1.0"?>
<!--
/**
 * Copyright © Byte8 Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Byte8\StockRadar\Model\ConfigInterface" type="Byte8\StockRadar\Model\Config"/>

    <virtualType name="Byte8\StockRadar\Ui\Component\Subscription\DataProvider\SearchResult" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="const">Byte8\StockRadar\Api\Data\SubscriptionInterface::DB_TABLE_NAME</argument>
            <argument name="resourceModel" xsi:type="string">Byte8\StockRadar\Model\ResourceModel\Subscription</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="byte8_stock_radar_subscription_listing_data_source" xsi:type="string">Byte8\StockRadar\Ui\Component\Subscription\DataProvider\SearchResult</item>
                <item name="byte8_stock_radar_demand_listing_data_source" xsi:type="string">Byte8\StockRadar\Ui\Component\Demand\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
